In [96]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import json
import ast
pd.options.display.max_columns = 30
pd.options.display.float_format = '{:.2f}'.format

In [97]:
df = pd.read_csv('movies_metadata.csv')
df.head(4)

C:\Users\eghan\AppData\Local\Temp\ipykernel_2312\3688902933.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('movies_metadata.csv')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.95,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.00,81.00,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.70,5415.00
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.02,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.00,104.00,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.90,2413.00
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.71,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.00,101.00,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.50,92.00
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.86,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.00,127.00,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.10,34.00

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [99]:
df['genres'][0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [100]:
df['belongs_to_collection'][0]

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [101]:
df.drop(['adult', 'imdb_id', 'video', 'original_title'], axis=1, inplace=True)

In [102]:
df['genres'].apply(lambda x: json.loads(x.replace("'", '"')))

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
45461    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                        [{'id': 18, 'name': 'Drama'}]
45463    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                   []
45465                                                   []
Name: genres, Length: 45466, dtype: object

In [103]:
df['genres'] = df['genres'].apply(ast.literal_eval)

In [104]:
df['belongs_to_collection'] = df['belongs_to_collection'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

In [105]:
df['spoken_languages'] = df['spoken_languages'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

In [106]:
df['production_companies'] = df['production_companies'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

In [107]:
df['production_countries'] = df['production_countries'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

In [108]:
df['belongs_to_collection'] = df['belongs_to_collection'].apply(lambda x: x['name'] if isinstance(x, dict) else np.nan)

In [109]:
df['genres'] = df['genres'].apply(lambda x: '|'.join(i['name'] for i in x) )
df['genres'].replace('', np.nan, inplace=True)

In [110]:
df['spoken_languages'] = df['spoken_languages'].apply(lambda x: '|'.join(i['name'] for i in x) if isinstance(x, dict) else np.nan)
df['spoken_languages'].replace('', np.nan, inplace=True)

In [111]:
df['production_companies'] = df['production_companies'].apply(lambda x: '|'.join(i['name'] for i in x) if isinstance(x, dict) else np.nan)
df['production_companies'].replace('', np.nan, inplace=True)

In [112]:
df['production_countries'] = df['production_countries'].apply(lambda x: '|'.join(i['name'] for i in x) if isinstance(x, dict) else np.nan)
df['production_countries'].replace('', np.nan, inplace=True)

In [113]:
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')
df['budget'] = df['budget'].replace(0, np.nan)
df['budget'] = df['budget'].div(1000000)

In [114]:
df['revenue'] = pd.to_numeric(df['revenue'], errors='coerce')
df['revenue'] = df['revenue'].replace(0, np.nan)
df['revenue'] = df['revenue'].div(1000000)

In [115]:
df['runtime'] = pd.to_numeric(df['runtime'], errors='coerce')
df['runtime'] = df['runtime'].replace(0, np.nan)

In [116]:
df['id'] = pd.to_numeric(df['id'], errors='coerce')
df['id'] = df['id'].replace(0, np.nan)

In [117]:
df['popularity'] = pd.to_numeric(df['popularity'], errors='coerce')
df['popularity'] = df['popularity'].replace(0, np.nan)

In [118]:
df['vote_average'] = df['vote_average'].replace(0, np.nan)

In [119]:
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

In [120]:
df['overview'] = df['overview'].replace(' ', np.nan, inplace=True)
df['overview'] = df['overview'].replace('No overview found.', np.nan, inplace=True)
df['overview'] = df['overview'].replace('No Overview', np.nan, inplace=True)
df['overview'] = df['overview'].replace('No movie overview available.', np.nan, inplace=True)
df['overview'] = df['overview'].replace('No overview yet.', np.nan, inplace=True)

In [121]:
df['tagline'] = df['overview'].replace('-', np.nan, inplace=True)

In [122]:
df.drop_duplicates(subset='id', inplace=True)

In [123]:
df.dropna(subset=['id', 'title'], inplace=True)

In [128]:
df.notna().sum(axis=1).value_counts().sort_values(ascending=False)

11    23365
12     9563
13     4661
10     3709
14     2250
9      1021
15      501
8       249
7        83
6        20
5         8
Name: count, dtype: int64

In [129]:
df.dropna(thresh=10, inplace=True)

In [130]:
df.reset_index(drop=True, inplace=True)

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44049 entries, 0 to 44048
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4484 non-null   object
 1   budget                 8872 non-null   float64
 2   genres                 42628 non-null  object
 3   homepage               7759 non-null   object
 4   id                     44049 non-null  float64
 5   original_language      44043 non-null  object
 6   overview               0 non-null      object
 7   popularity             44048 non-null  float64
 8   poster_path            43988 non-null  object
 9   production_companies   0 non-null      float64
 10  production_countries   0 non-null      float64
 11  release_date           44035 non-null  datetime64[ns]
 12  revenue                7395 non-null   float64
 13  runtime                42974 non-null  float64
 14  spoken_languages       0 non-null      float64
 15  status                 44017 non-null  object
 16  tagline                0 non-null      object
 17  title                  44049 non-null  object
 18  vote_average           42079 non-null  float64
 19  vote_count             44049 non-null  float64
dtypes: datetime64[ns](1), float64(10), object(9)
memory usage: 6.7+ MB